<div class="cart-container">
  <mat-card class="cart">
    <mat-card-header class="cart-header">
      <mat-card-title>
        <p class="cart-title">
          Cart
          <mat-icon>shopping_cart</mat-icon>
        </p>
      </mat-card-title>
      <mat-card-subtitle>Items: 10</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="cart-content">helo</mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions class="cart-actions">
      <button mat-flat-button color="primary">Checkout</button>
    </mat-card-actions>
  </mat-card>
</div>
